{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-lg-6">
        <img src="{{ url_for('static', filename='images/binoculars.jpg') }}"
            class="d-block mx-lg-auto img-fluid rounded" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
        <h1 class="display-3 fw-bold text-body-emphasis lh-1 mb-3">Adventure Outfitters</h1>
        <p class="lead"><em>Adventure Outfitters</em> has been preparing our members for adventures since 2005. We
            maintain the highest of standards, and test our equipment in real environments. When you adventure with
            us: <em>You're gonna like the way you adventure; I assure it.</em></p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="{{ url_for('render_equipment_page') }}" class="btn btn-primary btn-lg px-4 me-md-2">Equipment</a>
            <a href="{{ url_for('render_people_page') }}" class="btn btn-secondary btn-lg px-4">People</a>
        </div>
    </div>
</div>

{% endblock %}