{% extends "base.html" %}

{% block title %}{{ person['name'] }}{% endblock %}

{% block content %}

<h1>{{ person['name'] }}</h1>

<hr class="border-3">

<a href="{{ url_for('render_edit_person', person_id=person_id) }}" class="btn btn-primary mb-3">Edit details</a>

<h2>Details</h2>

<div class="table-responsive">
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th></th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Name</th>
                <td>{{ person['name'] }}</td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>{{ person['email'] }}</td>
            </tr>
            <tr>
                <th scope="row">Birthday</th>
                <td>{{ person['date_of_birth'] }}</td>
            </tr>
            <tr>
                <th scope="row">Phone</th>
                <td>{{ person['mobile_phone_number'] }}</td>
            </tr>
            <tr>
                <th scope="row">Role</th>
                <td>{{ person['role'] }}</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}