{% extends "base.html" %}

{% set add_or_edit = 'Edit' if person_id else 'Add' %}

{% block title %}{{ add_or_edit }} Person{% endblock %}

{% block content %}

<h1>{{ add_or_edit }} Person</h1>

<hr class="border-3">

{% if alert %}
<div class="alert alert-danger" role="alert">
    Could not submit because of errors. Please correct errors and re-submit.
</div>
{% endif %}

<form action="" method="post" class="form-floating">

    <div class="form-floating mb-3">
        <input required type="text" class="form-control" name="name" id="name" placeholder="Name"
            value="{{ person.name }}">
        <label for="name">Name</label>
    </div>

    <div class="form-floating mb-3">
        <input required type="email" class="form-control" name="email" id="email" placeholder="email"
            value="{{ person.email }}">
        <label for="email">email</label>
    </div>

    <div class="row g-2">
        <div class="col-md">
            <div class="form-floating mb-3">
                <input required type="date" class="form-control" name="date_of_birth" id="date_of_birth"
                    placeholder="Birthday" value="{{ person.date_of_birth }}">
                <label for="date_of_birth">Birthday</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating mb-3">
                <input required type="tel" class="form-control" name="mobile_phone_number" id="mobile_phone_number"
                    placeholder="Phone" value="{{ person.mobile_phone_number }}">
                <label for="mobile_phone_number">Phone</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <select class="form-select" name="role" id="role" aria-label="set staff or member role">
                    <option {{ 'selected' if person.role=='member' }} value="member">Member</option>
                    <option {{ 'selected' if person.role=='staff' }} value="staff">Staff</option>
                </select>
                <label for="role">Role</label>
            </div>
        </div>
    </div>

    <div class="my-3">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </div>

</form>

{% endblock %}